.container-home{
    height: 80vh;
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.buttonDiv{
    display: flex;
    width: 70%;
    align-self: center;
    margin: 20px;
    letter-spacing: 0.1rem;
}
.buttonDiv:hover,
.buttonDiv:focus,
.buttonDiv:active{
    scale: 1.0001;
    letter-spacing: 0.2rem;
}

.button{
    width: 100%;
    text-align: start;
}
.svg{
    margin-left: -45px;
    margin-top: 9px;
}