.container-home{
    height: 80vh;
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
h1{
    letter-spacing: 0.1rem;
    text-decoration: underline;
}
.link{
    text-decoration: none;
    width: 100%;
    display: flex;
}
.buttonDiv{
    display: flex;
    flex-direction: row;
    width: 70%;
    align-self: center;
    margin: 20px;
    letter-spacing: 0.1rem;
}
.buttonDiv:hover,
.buttonDiv:focus,
.buttonDiv:active{
    scale: 1.01;
    letter-spacing: 0.2rem;
}

.button{
    width: 100%;
    text-align: start;
    background-color: transparent;
    color: #f1f1f1;
    border: 2px solid #f1f1f1;
    padding: 20px;
    letter-spacing: 0.1rem;
    font-weight: 700;
}
.button:hover,
.button:focus,
.button:active{
    scale: 1.01;
    letter-spacing: 0.2rem;
}
.svg{
    margin-left: -45px;
    margin-top: 14px;
    fill: #f1f1f1;
}